.title {
  color: rgb(225, 225, 225);
  display: flex;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: space-between;
  letter-spacing: -0.288px;
  line-height: 32px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
}

.frequency {
  align-items: center;
  color: rgb(225, 225, 225);
  display: flex;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  justify-content: space-between;
  letter-spacing: -0.288px;
  margin: 8px 16px 8px 16px;
}

.bus-line {
  font-size: 24px;
  padding: 5px;
  background-color: gray;
}

.bus-line-28 {
  background-color: mediumpurple;
}

.bus-line-32 {
  background-color: darkgoldenrod;
}

.bus-line-60 {
  background-color: mediumturquoise;
}
